fastapi
uvicorn[standard]
aiofiles
python-multipart
pydantic
requests
numpy
sentence-transformers
faster-whisper==0.9.0  # Avoid latest version that compiles from source
torch==2.1.2+cpu -f https://download.pytorch.org/whl/torch_stable.html
